.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.gem/
.ivy2/
.mysql_history
.profile
.pyenv/
.rbenv/
.sbt/
.ssh/
.viminfo
.wget-hsts
benchmark
gocode/

.antigen/
.anyenv/
.config/
.githooks/
.gitmodules
.vim/
.vimrc
.zcompdump
.zsh/
.zsh_history
.zshrc
.zshrc.zwc
README.md
